<!DOCTYPE html>
<!-- サイドバーの部分テンプレート -->
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="side_bar">
  <div class="side-bar-header">
    <div class="header-name">
      <a href="http://">Tom</a>
    </div>
    <div class="create-room">
      <a href="http://">チャットを作成する</a>
    </div>

  </div>
  <div class="rooms">
    <div class="room">
      <div class="room-name">
        <a href="http://">techroom1</a>
      </div>
    </div>
    <div class="room">
      <div class="room-name">
        <a href="http://">techroom2</a>
      </div>
    </div>
    
  </div>
</div>
</html>